<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>条件渲染</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <!-- 
    条件渲染:
      1. v-if
          写法： 
            （1）v-if="表达式"
            （2）v-else-if="表达式"
            （3）v-else="表达式"
            适用于：切换频率较低的场景
            特点：不展示的DOM元素直接被移除
            注意: v-if和v-else-if 、v-else 一起使用，但要求结构不能被“打断”
      2.v-show
          写法：v-show="表达式"
          适用于：切换频率比较高的场景
          特点:不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
      3.备注:使用v-if时，元素可能无法获取到，而使用v-show一定可以获取到。
   -->
  <div id="root">

    <!-- 使用v-show做条件渲染 -->
    <!-- <h2 v-show="isShow">Hello,{{name}}!</h2>
    <h2 v-show="1===1">Hello,{{name}}!</h2> -->

    <!-- 使用v-if做条件渲染 -->
    <!-- <h2 v-if="false">Hello,{{name}}!</h2>
    <h2 v-if="1===1">Hello,{{name}}!</h2> -->


    <h1>当前的n值是:{{n}}</h1>
    <button @click="n++">点我n++</button>



    <!--  v-if 和 v-else-if 和 v-else -->
    <!-- <div v-if="n===1">Angular</div>
    <div v-else-if="n===1">React</div>
    <div v-else-if="n===2">Vue </div>
    <div v-else>Java</div> -->


    <template v-if="n==1">
      <h1>你</h1>
      <h1>好</h1>
      <h2>!</h2>
    </template>
  </div>
</body>
<script>
  Vue.config.productionTip = false
  new Vue({
    el: '#root',
    data: {
      name: 'WSharkCoder',
      isShow: false,
      n: 0
    }
  })
</script>

</html>